<h1 style="text-align: center;" >Shopping Screen</h1>


<body>

<table style="margin-left:auto; margin-right:auto; border-radius:1px; border-color:black;">
<% @products.each do |product| %>
	
	<tr>
		<td><img style="width:380px"; src= "<%= product.image_one %>" ></td>
		<td><b><%= product.name %></b></br>
		<%= product.description %></br>
		<b>$<%= product.current_prive %></b>
		<p><a class="btn btn-primary btn-lg btn-green" role="button">Like</a>
		<a class="btn btn-primary btn-lg" role="button">Skip</a>
		<a class="btn btn-primary btn-lg btn-danger" role="button">Dislike</a></p></td>

	</tr>

<%end%>

</table>

</div>

</body>